*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 80vh;
    border: 2px solid purple;
}
.box{
    width: 50px;
    height: 50px;
    background-color: beige;
    border: 2px solid black;
    transform: rotate(0.125turn); 
    /* transform: rotateZ(9deg); */
    /* transform: scale(1.5); */
    /* transform: skew(9deg); */
    /* transform: translateY(100%) skewX(40deg) translateX(45%); */
    display: flex;
    justify-content: center;
    align-items: center;
}