:root{
    --theme-color: #eb5b08;
    --text-color: #ffffff;
    --secondary-color: #0f172a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 12px;
}
.navbar{
    background-color: var(--theme-color);
    color: var(--text-color);
    padding: 20px 34px;
    border: none;
    border-radius: 15px;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 211px;
}
.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
}